[submodule "coreclr"]
  path = third_party/coreclr
  url = https://github.com/dotnet/coreclr.git
  commit = cd8af80c29379c69997106d1d347a2b4ab02693b
  ignore = dirty
[submodule "googletest"]
  path = third_party/googletest
  url = https://github.com/google/googletest.git
  commit = 62ba5d91d0ceff98fbd95294bd94c97017a07f9e
  ignore = dirty
[submodule "protobuf"]
  path = third_party/protobuf
  url = https://github.com/google/protobuf.git
  commit = e0d24cc84a81d236daf0bbf783037c8c8c24d814
  ignore = dirty
