.vs
*.pyc
*.user
obj
bin
Debug
Release
packages
x64
*~
.cr
*.o
*.obj
*.a
package-*
coverage_report
*.gcno
*.gcda
src/google_cloud_debugger/google_cloud_debugger/google_cloud_debugger
src/google_cloud_debugger/google_cloud_debugger_test/google_cloud_debugger_test
launchSettings.json
.vscode